### Python Worksheet-9 (Pandas)



Ans:1 (D)

Ans:2 (A)

Ans:3 (D)

Ans:4 (D)

Ans:5 (C)

Ans:6 (D)

Ans:7 (C)

Ans:8 (B)

Ans:9 (B) (C) (D)

Ans:10 (A) (B) (C) (D)

## Ans:11

In [1]:
import pandas as pd
import numpy as np

In [3]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin',  'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],            
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [5]:
labels = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X']

In [6]:
df=pd.DataFrame(exam_data, index=labels)

In [7]:
print(df)

           name  score  attempts qualify
I     Anastasia   12.5         1     yes
II         Dima    9.0         3      no
III   Katherine   16.5         2     yes
IV        James    NaN         3      no
V         Emily    9.0         2      no
VI      Michael   20.0         3     yes
VII     Matthew   14.5         1     yes
VIII      Laura    NaN         1      no
IX        Kevin    8.0         2      no
X         Jonas   19.0         1     yes

## Ans:12

In [8]:
df.head()

          name  score  attempts qualify
I    Anastasia   12.5         1     yes
II        Dima    9.0         3      no
III  Katherine   16.5         2     yes
IV       James    NaN         3      no
V        Emily    9.0         2      no

## Ans:13

In [10]:
print(df[['name','score']])

           name  score
I     Anastasia   12.5
II         Dima    9.0
III   Katherine   16.5
IV        James    NaN
V         Emily    9.0
VI      Michael   20.0
VII     Matthew   14.5
VIII      Laura    NaN
IX        Kevin    8.0
X         Jonas   19.0

## Ans:14

In [12]:
print(df.iloc[[3,5,6,8], [0, 1]])

        name  score
IV     James    NaN
VI   Michael   20.0
VII  Matthew   14.5
IX     Kevin    8.0

## Ans:15

In [13]:
print(df[df['score'].between(15, 20)])

          name  score  attempts qualify
III  Katherine   16.5         2     yes
VI     Michael   20.0         3     yes
X        Jonas   19.0         1     yes